:root {
  font-family: 'Cinzel', serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111111;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #111111;
}
